<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.rahsyarigami.infonunukan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".ui.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.detail.KulinerDO"
            android:label="Kuliner Delivery Order"
            android:theme="@style/AppTheme.Food" />
        <activity
            android:name=".ui.detail.TentangNunukan"
            android:label="Tentang Nunukan"
            android:theme="@style/AppTheme.About" />
        <activity android:name=".ui.base.BaseActivity" />
        <activity
            android:name=".ui.detail.InfoWisata"
            android:label="Info Wisata"
            android:theme="@style/AppTheme.Tour" />
        <activity
            android:name=".ui.detail.KontakPenting"
            android:label="Kontak Penting"
            android:theme="@style/AppTheme.Contact" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="Nunukan Info"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dfb7885a4409440efeef04c3ba25967173c8afcc" />
    </application>


</manifest>