<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.rahsyarigami.infonunukan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:name="androidx.multidex.MultiDexApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:exported="true"
            android:name=".ui.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.base.BaseActivity" />

        <activity
            android:exported="false"
            android:name=".ui.main.MainActivity"
            android:label="Nunukan Info"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dfb7885a4409440efeef04c3ba25967173c8afcc" />
    </application>


</manifest>